
@{
    ViewBag.Title = "ComputerScienceReport";
}

<h2>Computer Science Department Trend Analysis Report</h2>

<iframe width="1200" height="800" src="https://app.powerbi.com/view?r=eyJrIjoiYmQ1ODA4NzctY2RiOS00YmYzLTk2MWUtMGRkZWM5YWFmYWE3IiwidCI6IjViYTVlZjVlLTMxMDktNGU3Ny04NWJkLWNmZWIwZDM0N2U4MiIsImMiOjEwfQ%3D%3D" frameborder="0" allowFullScreen="true"></iframe>

