
@{
    ViewBag.Title = "MathematicReport";
}

<h2>Mathematic Department Trend Analysis Report</h2>

<iframe width="1200" height="800" src="https://app.powerbi.com/view?r=eyJrIjoiOTIxODRkMzMtMzM0OC00ODFiLWE5YTAtOWZkOTU3NTRmZjAwIiwidCI6IjViYTVlZjVlLTMxMDktNGU3Ny04NWJkLWNmZWIwZDM0N2U4MiIsImMiOjEwfQ%3D%3D" frameborder="0" allowFullScreen="true"></iframe>
