
@{
    ViewBag.Title = "ZoologyReport";
}

<h2>Zoology Department Trend Analysis Report</h2>

<iframe width="1200" height="800" src="https://app.powerbi.com/view?r=eyJrIjoiZDZmYzM3YTgtMzQwZi00NWU1LWE1OTMtYTMwZjUxNDU4MjNkIiwidCI6IjViYTVlZjVlLTMxMDktNGU3Ny04NWJkLWNmZWIwZDM0N2U4MiIsImMiOjEwfQ%3D%3D" frameborder="0" allowFullScreen="true"></iframe>